@tailwind base;
@tailwind components;
@tailwind utilities;/* filepath: /home/joselito/Documents/Tareas/jv/February/pokedex-joselito/app/globals.css */
@font-face {

  font-family: 'salt';
  src: url('salt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}